<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Panda</title>
    <link rel="stylesheet" type="text/css" href="{% static 'startup/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'startup/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'startup/css/bootstrap-theme.css' %}">


</head>
<body class="body1">
<div class="row" style="margin-left: 0;">
    <div class="col-lg-3 col-lg-offset-8 col-md-6 col-md-offset-3 col-sm-12" >
        <div class="login-form">
            <form class="form-horizontal" method="post" action="{% url 'login' %}">
                {% csrf_token %}
            <div class="Ico">
                <!-- <img src="{% static 'startup/images/comnet.png' %}" align="center" width="330"> -->
            </div>
              <div class="control-group">
                <label for="id_username"></label>
                <div class="controls">
                    <input type="text" class="input" name="username" id="id_login" placeholder="Введите логин" />
                </div>
              </div>
              <div class="control-group">
                <label for="id_password"></label>
                <div class="controls">
                    <input type="password" class="input" name="password" id="id_password" placeholder="Введите пароль" />

            {% if form.errors %}
            <P></P>
            <font color="Azure" size="2px"><strong> Неверный логин или пароль !</strong></font>
            <p></p>
            {% endif %}
           <P></P>
                </div>
              </div>
              <div class="control-group">
                  <button type="submit" class="btn btn-info btn-lg active ">Войти</button>
              </div>
        </div>
    </div>


</div>

<script src="../js/bootstrap.js"></script>
</body>
</html>

